.ctn{
  width: 100%;
  padding: 10px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.ctn svg{
  font-size: 2rem;
}





@media screen and (max-width: 700px){
.ctn{
  display: block;
}
}